.errors {
	color: red;
	font-size: 14pt;
}
.form-checkout {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}
.form-checkout .form-checkout-header,
.form-checkout img.powered {display: none;}
.form-checkout form button.cc-pay {background: #4297d7;}
/*
#custom-form {width: 190px;}
#custom-form p {margin: 5px 0;}
#custom-form input {
	position: relative;
	height: 16px;
	padding: 10px 15px;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	line-height: 16px;
	font-size: 12px;
}
#custom-form input.cc-cvv {float: left; width: 140px; border-radius: 3px 0 0 3px;}
#custom-form button {
	background: #ccc;
	border: none;
	color: #fff;
	width: 100%;
	padding: 10px 0;
	border-radius: 3px;
	cursor: pointer;
}
#custom-form button.cc-cvv-info {
	position: relative;
	width: 17px;
	height: 38px;
	margin: 0;
	padding: 0;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	border-color: #d9d9d9 #d9d9d9 #d9d9d9 transparent;
	border-radius: 0px 3px 3px 0px;
	background: url("https://api.paymentwall.com/pro/images/form-cvc-info.png");
}
#pw-payment-form-cvv-hint {
	position: absolute;
	z-index: 1550;
	left: 58px;
	top: -130px;
}*/